*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# virtualenv
env/

# tmp files
.DS_Store
*.swp
*.sccsc
*~

# config file
config.py
