{% extends 'basic/layout.html' %}

{% block nav %}
    {% include 'basic/nav.html' %}
{% endblock %}

{% block main %}
    <div class="container-box">
        <form class="form-horizontal" action='' method="POST">
            <fieldset>
                <div id="legend" class="mb50">
                    <legend class="">登录</legend>
                </div>
                {{ errors|dump_errors }}

                <div class="form-group">
                    <label class="col-md-2 control-label" for="title">E-mail</label>
                    <div class="col-md-6">
                        <input class="form-control" id="email" name="email" placeholder="" type="text" value="" />
                    </div>
                </div>

                <div class="form-group mt30">
                    <label class="col-md-2 control-label" for="title">Password</label>
                    <div class="col-md-6">
                        <input class="form-control" id="password" name="password" placeholder="" type="password" value="" />
                    </div>
                </div>

                <div class="form-group mt30">
                    <label class="col-md-2 control-label" for="title"></label>
                    <!-- Button -->
                    <div class="col-md-6">
                        <button class="btn btn-success btn-sm">登录</button>
                        <a href="/register" class="ml10 mr10 btn btn-default btn-sm">注册账号</a>
                        <a href="/forgot" class="btn btn-default btn-sm">忘记密码了</a>
                    </div>
                </div>

                <div class="form-group mt30">
                    <label class="col-md-2 control-label" for="title"></label>
                    <div class="col-md-6">
                        <p class="help-block">使用第三方账号登录</p>
                        <a href="/oauth/github" class="btn btn-default btn-sm">Sign via github</a>
                    </div>
                </div>

            </fieldset>
            {{ xsrf_form_html() }}
        </form>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidenav container-box">
        <ul>
            <li class="current"><a href="/setting">用户中心</a></li>
            <li><a href="/setting/avatar">设置头像</a></li>
            <li><a href="/setting/password">设置密码</a></li>
            <li><a href="/">返回首页</a></li>
        </ul>
    </div>
{% endblock %}
